<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Price</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>$10</td>
        <button class="btn btn-primary" [routerLink]="['products', 'Mark']">Details</button>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>$1</td>
        <button class="btn btn-primary" [routerLink]="['products', 'Jacob']">Details</button>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry the Bird</td>
        <td>$13</td>
        <button class="btn btn-primary" [routerLink]="['products', 'Larry']">Details</button>
      </tr>
    </tbody>
  </table>